.containerAcademics{
    transition: transform 0.3s ease-in-out;
    &:hover{
        transform: scale(1.05);
    }

}

.academicsContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    /* overflow: scroll; */
}