:root {
  --blueBtn: #a79248;
}
.activeOpenBtn {
  background-color: rgb(228, 228, 228);
  background-color: var(--blueBtn);
  color: white;
  transition: 0.2s all ease-in-out;
  border-radius: 7px 7px 7px 7px;
  transform: translateX(-2%) scale(0.8);
}

.activeCloseBtn {
  background-color: rgb(228, 228, 228);
  background-color: var(--blueBtn);
  color: white;
  transition: 0.2s all ease-in-out;
  border-radius: 7px 7px 7px 7px;
  transform: scale(0.8);
}

.sideMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sideFloatClass {
  opacity: 0;
  animation-name: slideLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  margin-top: 2%;
}

.sideMenuContainer .sideMenuLinks {
  text-decoration: none;
  color: inherit;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.sideFloatClass {
  opacity: 0;
  animation-name: slideLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  margin-top: 2%;
}

.MainContainer {
  display: flex;
  height: 100vh;
  /* background-image: url("../images/wallpaper1.jpg"); */
  background: linear-gradient(to right, #fff9e6, #fff9e6);
  background-repeat: no-repeat;
  background-size: cover;
}

/* .navIconsContainer {
  display: flex;
  align-self: flex-end;
  justify-items: center;
}

.default-icon {
  position: absolute;
  transition: transform 0.5s ease, opacity 0.5s ease; 
  cursor: pointer;
  border-radius: 100px;
  padding:5px;
}

.center-icon{
    z-index: 10;
    background-color: #a79248;
}

.left-icon{
    opacity: 0;
}

.left-icon.visible{
    opacity: 1;
    transform: translateX(calc(-50px * var(--index)));
}

.right-icon{
    opacity: 0;
}

.right-icon.visible{
    opacity: 1;
    transform: translateX(calc(50px * (var(--index) - 2))); 
} */

