:root {
  --blueBtn: #a79248;
}
.activeOpenBtn {
  background-color: rgb(228, 228, 228);
  background-color: var(--blueBtn);
  color: white;
  transition: 0.2s all ease-in-out;
  border-radius: 7px 7px 7px 7px;
  transform: translateX(-2%) scale(0.8);
}

.activeCloseBtn {
  background-color: rgb(228, 228, 228);
  background-color: var(--blueBtn);
  color: white;
  transition: 0.2s all ease-in-out;
  border-radius: 7px 7px 7px 7px;
  transform: scale(0.8);
}

.sideMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sideFloatClass {
  opacity: 0;
  animation-name: slideLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  margin-top: 2%;
}

.sideMenuContainer .sideMenuLinks {
  text-decoration: none;
  color: inherit;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.sideFloatClass {
  opacity: 0;
  animation-name: slideLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  margin-top: 2%;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-bottom: 50px;
}

.MainComponent{
  height: 80Vh;
  width: 80vw;
}

.navIconsContainer{
  margin-top: 2rem;
}

.default-icon {
  position: fixed;
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  &:hover{
    background-color: #a79248;
  }
}

.center-icon {
  position: fixed;
  z-index: 10;
  background-color: #a79248;
}

.left-icon {
  opacity: 0;
}

.left-icon.visible {
  opacity: 1;
  transform: translateX(calc(-50px * var(--index)));
}

.right-icon {
  opacity: 0;
}

.right-icon.visible {
  opacity: 1;
  transform: translateX(calc(50px * (var(--index) - 2)));
}


.navLinks{
text-decoration: none;
color: inherit;
}