.list {
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content: center;
    overflow: scroll;
    flex-wrap: wrap;
    padding: 15px;
    margin-left: 10px;
}

.listItem{
    color: #a79248;
    transition: transform 0.3s ease;
    margin: 10px;

    &:hover{
      transform: scale(1.1);
    }
}
.codeIcon {
  text-align: center;
  font-size: 100px;
}

.blue{
color: blue;
}
